:root {

  /* Colours */
  --matte-black: #28282B;
  --parchment: #fcf5e5;
  --off-white: #faf9f6;
  --white: #fff;

  /* Font */
  font-family: Fredoka;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Padding */
  --padding-small: 0.5rem;
  --padding-normal: 0.85rem;
  --padding-large: 1.25rem;
}

@font-face {
  font-family: Fredoka;
  src: url('fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--off-white);
}

hr {
  height: 5px;
  width: 100%;
  border-radius: 0.8rem;
  background-color: black;
}

#error-page, .loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 25px;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
}

input,
select {
  appearance: none;
  border: 2px solid #aaa;
  border-radius: 0.25rem;
  padding-left: 1rem;
  width: 100%;
  height: 50px;
  transition: 0.25s ease-in-out;
}

input:focus,
select:focus {
  border: 2px solid var(--matte-black);
  background-color: #c7c5c5;
}

fieldset {
  border: 2px solid var(--matte-black);
  padding: var(--padding-large);
}

legend {
  text-align: center;
}
