.checkout-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: 0 auto;
  gap: 50px;
}

.summary-container {
  display: flex;
  flex-direction: column;
  max-height: fit-content;

  gap: 25px;
}

.summary-item {
  display: flex;
  border-bottom: 2px solid #aaa;
}

.summary-item-body {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.summary-item-body > img {
  border: 2px solid black;
  background-color: white;
  border-radius: 1rem;
  width: 100px;
  height: 100px;
}

.summary-item > button {
  justify-self: right;
  width: 100px;
}

.checkout-item {
  flex-direction: row;
  place-content: center;
  width: 85%;
}

.payment-container {
  display: flex;
  flex-direction: column;
  transition: height 0.5s ease-in;
}

.summary-container,
.payment-container {
  border-radius: 2rem;
  background-color: rgb(233, 227, 227);
  box-shadow: 0 5px 5px 0 #aaa;
  padding: 2rem;
  width: 90%;
  min-height: max-content;
}

label {
  width: 100%;
}
