.category-item {
    border: 2px solid black;
    min-width: 35vw;
    height: 35vh;
    padding: 1rem;
    transition: 0.25s ease-in;
    align-content: center;
    
}

.category-item:hover {
    
    transform: scale(1.025);
    cursor: pointer;
}