button {
  font-family: Fredoka;
  appearance: none;
  border-bottom: 10px solid red;
  border-radius: 1rem;
  width: 150px;
  background-color: var(--matte-black);
  color: var(--off-white);
  border: none;
  transition: 300ms ease-in-out;
  cursor: pointer;
  height: 50px;

  margin: 0 auto;
}

.action {
  width: 35px;
  height: 35px;
}

button:hover {
  box-shadow: 2px 4px 6px 4px #aaa;
  transition: 200ms ease-in-out;
}
