.review-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding-large);

  border-radius: 1rem;
  gap: 50px;
  margin: 0 auto;
  justify-content: space-evenly;
}

.review {
  justify-content: left;
  gap: 25px;
  text-align: left;
  display: flex;
  min-height: fit-content;
  width: 450px;
  border-radius: 1rem;
  background-color: var(--matte-black);
  color: var(--off-white);
  padding: var(--padding-small);

  box-shadow: 1px 3px 5px 3px #000;
}

.review-body {
}

.avatar {
  border-radius: 4rem;
  width: 100px;
  height: 100px;
}
