nav {
  display: flex;
  padding-left: var(--padding-small);
  gap: 50px;
  /* justify-content: space-evenly; */
  align-items: center;
  background-color: azure;
  border-bottom: 2px solid black;
}

nav > a:last-child {
  /* margin-left: auto; */
}

button {
  width: 10%;
  height: 50px;
}
