:root {
  --navy-blue: #000165;
  --polynesian-blue: #0f448f;
  --vista-blue: #92a7d2;
  --french-gray: #abb1c0;
  --cadet-gray: #a1a1a1;
}

.card {
  box-shadow: 0 5px 5px 0 black;
  border: 8px solid var(--cadet-gray);
  border-radius: var(--radius);
  background-color: var(--navy-blue);
  padding: var(--padding-small);
  min-width: 8vw;
  width: 10vw;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.card-header {
  padding-left: var(--padding-small);
  text-transform: capitalize;
}

.card-body {
  z-index: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.card-info {
  /* background-color: var(--vista-blue); */
  height: 100px;
}

img {
  /* border: 2px solid var(--french-gray); */
  background-color: var(--french-gray);
  border-radius: 50%;
  width: 125px;
  object-fit: contain;
}

.card-footer {
  height: 100px;
  /* background-color: var(--polynesian-blue); */
}

/* Transitions */
.card:hover {
  transform: translateY(-10px);
  background-color: #0f448f;
  box-shadow: 0 6px 6px 0 black;
}
