nav {
  display: flex;
  background-color: var(--matte-black);
  padding-left: var(--padding-small);
  gap: 50px;
  align-items: center;
  justify-content: center;
}

nav > h1 {
  justify-self: left;
  color: var(--off-white);
  font-size: 32px;
}

.nav-button {
  color: var(--matte-black);
  background-color: var(--off-white);
}

.nav-button:hover {
  box-shadow: 1px 3px 5px 3px rgb(0, 0, 0);
}